<x-meta id="lens-viz-g-pie-chart" label="Pie Chart by Google" group="Lenses chart">			<template>			<lens-viz-g-pie-chart animateOnInit="true"/></template>
			<template id="imports">			<link rel="import" href="lens-viz-g-pie-chart.html"/></template>
			<property name="type" kind="select" options="pie,donut"/>
			<property name="dataLabel" kind="string"/>
			<property name="chartData" kind="json"/>
			<property name="backgroundColor" kind="color"/>
			<property name="legend" kind="boolean"/>
</x-meta>