p.info {
	width: 170px;
}

.selector {
  min-height: 10px;
  display: inline-block;
  max-height: 123px;
  overflow-y: scroll; 
}

.selector .col {
  padding: 1px;
  border: 1px solid #EEE;
}
.selector .core-selected {
  background-color: #ccc;

}
.label {
  display: block;
  color: #2fa3af;
}
