<x-meta id="lens-viz-g-scatter-bubble" label="Scatter chart by Google" group="Lenses chart">			<template>			<lens-viz-g-scatter-bubble animateOnInit="true"/></template>
			<template id="imports">			<link rel="import" href="lens-viz-g-scatter-bubble.html"/></template>
			<property name="dataLabelX" kind="string"/>
			<property name="dataLabelY" kind="string"/>
			<property name="dataLabelSize" kind="string"/>
			<property name="dataLabelColor" kind="string"/>
			<property name="chartData" kind="json"/>
			<property name="backgroundColor" kind="color"/>
			<property name="legend" kind="boolean"/>
</x-meta>