<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <title>lens-u-data-utility Demo</title>
    <script src="../webcomponentsjs/webcomponents.js"></script>
    <link rel="import" href="lens-u-data-utility.html">
  </head>
  <body unresolved>

    <p>This component does not have a UI and is meant to be included inside of other components.</p>
    <lens-u-data-utility></lens-u-data-utility>

  </body>
</html>
