<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
  <title>lenses-component-list</title>

  <script src="../../webcomponentsjs/webcomponents.js"></script>
  <script src="../../web-component-tester/browser.js"></script>

  <!-- Step 1: import the element to test -->
  <link rel="import" href="../lenses-component-list.html">

</head>
<body>

  <lenses-component-list id="fixture"></lenses-component-list>

  <script>
    var myEl = document.getElementById('fixture');

    suite('<lenses-component-list>', function() {

      test('defines the "author" property', function() {
        assert.equal(myEl.author, 'Dimitri Glazkov');
      });

      test('says hello', function() {
        assert.equal(myEl.sayHello(), 'lenses-component-list says, Hello World!');
        var greetings = myEl.sayHello('greetings Earthlings');
        assert.equal(greetings, 'lenses-component-list says, greetings Earthlings');
      });

      test('fires lasers', function(done) {
        myEl.addEventListener('lenses-component-list-lasers-success', function(event) {
          assert.equal(event.detail.sound, 'Pew pew pew!');
          done();
        });
        myEl.fireLasers();
      });

    });
  </script>

</body>
</html>
