<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
  <title>lens-viz-g-map Demo</title>

  <script src="../webcomponentsjs/webcomponents.js"></script>

  <link rel="import" href="lens-viz-g-map.html">

</head>
<body unresolved>

  <p>An `lens-viz-g-map` looks like this:</p>

  <lens-viz-g-map markers="[{'latitude': 40.6928, 'longitude': -73.9903, 'label': 'Brooklyn'  },
              {'latitude': 40.75, 'longitude': -74.0049, 'label': 'another'  }]"></lens-viz-g-map>

</body>
</html>
