<link rel="import" href="../polymer/polymer.html"> 
<link rel="import" href="../th-theme/th-theme.html"> 
<link rel="import" href="../core-input/core-input.html"> 
<link rel="import" href="../core-icons/core-icons.html"> 

<!--
A data component for joining two columns together to create a new column.


##### Example

    <lens-data-join></lens-data-join>

@element lens-data-join
@blurb Element providing solution to no problem in particular.
@status alpha
@homepage http://lenses.github.io/lens-data-join
-->

<polymer-element name="lens-data-join" attributes="input output selectedColumns joinString newColumnName">
  <template>

    <core-style ref="theme"></core-style>
    <link rel="stylesheet" href="lens-data-join.css">

    <div class="lens-container lens-data">

      <label>Columns to join:</label>
        <template repeat="{{key in inputKeys}}">
          <span class="columnName" on-click="{{toggleSelected}}">{{key}}</span>
        </template>
        <br/>
      <label>Join with:</label>
      <input type="text" class="txt" is="core-input" committedValue="{{joinString}}" placeholder="" type="text">
      <br/>
      <label>New column name: </label>
      <input type="text" class="txt" is="core-input" committedValue="{{newColumnName}}">
      <br/>
      <label>Keep Original Data: </label>
    <template if="{{!keepOriginalData}}"> <core-icon icon="check-box-outline-blank" on-click="{{toggleKeepOriginalData}}"></core-icon> </template>
    <template if="{{keepOriginalData}}"> <core-icon icon="check-box" on-click="{{toggleKeepOriginalData}}"></core-icon> </template>



    </div>


  </template>
  <script>
    Polymer({
      /**
       *  Input data
       *
       *  @property input
       *  @type Array
       *  @default []
       */
      input: [],

      /**
       *  Output data
       *
       *  @property output
       *  @type Array
       *  @default []
       */
      output: [],

      /**
       *  Array containing labels of the columns to be joined.
       *  
       *  @property selectedColumns
       *  @type Array
       *  @default []
       */
      selectedColumns: [],

      /**
       *  A string to place between each joined item in the new column.
       *
       *  @property joinString
       *  @type String
       *  @default ", "
       */
      joinString: ", ",

      /**
       *  Name of the new column.
       *
       *  @property newColumnName
       *  @type String
       *  @default ""
       */
      newColumnName: "",

      /**
       *  If false, the original columns will be removed from output.
       *  
       *  @property keepOriginalData
       *  @type Boolean
       *  @default true
       */
      keepOriginalData: true,

      ready: function(){
        var self = this;
        self.inputKeys = self.input[0] ? Object.keys(self.input[0]) : [];
        self._calculateOutput();
      },

      _calculateOutput: function(){
        var self = this,
            inputLength = self.input.length;
      
        for (var i=0; i<self.input.length;i++){
          var stringsToJoin = self.selectedColumns.map(function(key){
            return self.input[i][key];
          })
          if(self.keepOriginalData){
            self.output[i] = self.input[i];
          } else {
            self.output[i] = {};
          }
          self.output[i][self.newColumnName] = stringsToJoin.join(self.joinString);
        }
      },

      toggleSelected: function(e, detail, selection){
        var self = this;
        selection.classList.toggle('selected');

        var selected = self.shadowRoot.querySelectorAll('.selected');
        self.selectedColumns = [].map.call(selected, function(item) { return item.textContent});
      },

      toggleKeepOriginalData: function(e, detail, selection){
        var self = this;
        self.keepOriginalData = !self.keepOriginalData;
        self._calculateOutput();
      },

      // CHANGE OBSERVERS
      joinStringChanged: function(){
        var self = this;
        self._calculateOutput();
      },
      inputChanged: function(){
        var self = this;
        self.inputKeys = self.input[0] ? Object.keys(self.input[0]) : []; // columns to choose from
        self._calculateOutput();
      },
      selectedColumnsChanged: function(){
        var self = this;
        self._calculateOutput();
      },
      joinStringChanged: function(){
        var self = this;
        self._calculateOutput();
      },
      newColumnNameChanged: function(oldValue, newValue){
        var self = this;
        
        // Remapping triggers the change in an observer
        self.output = self.output.map(function(item){
          item[newValue] = item[oldValue];
          delete item[oldValue];
          return item;
        })

      }
    });
  </script>
</polymer-element>