:host {
  display: inline-block;
  color: #2fa3af;
}

.columnName {
  margin: 5px 10px;
  display: inline-block;
  padding: 3px 5px;
  border: 2px solid #2fa3af;
  color: #2fa3af;
  border-radius: 4px;
  cursor: pointer;
}

.selected {
  background-color: #2fa3af;
  color: white;
}

div {
  margin: 10px;
}