<x-meta id="lens-data-geocoder-firebase" label="Lenses Geocoder with Firebase" group="Lenses Data"> 
    <template>      
      <lens-data-geocoder-firebase></lens-data-geocoder-firebase>
    </template>
    <template id="imports">
      <link rel="import" href="lens-data-geocoder-firebase.html"/>
    </template>
    <property name="input" kind="json"/>
    <property name="output" kind="json"/>
    <property name="reverseGeocode" kind="boolean"/>
    <property name="firebaseLocation" kind="string"/>
    <property name="firebaseLocationRequestRoute" kind="string"/>
</x-meta>