<x-meta id="lens-input-csv" label="Lenses CSV" group="Lenses Data">	
		<template>			
			<lens-input-csv></lens-input-csv>
		</template>
		<template id="imports">
			<link rel="import" href="lens-input-csv.html"/>
		</template>
		<property name="url" kind="string"/>
		<property name="data" kind="json"/>
		<property name="output" kind="json"/>
		<property name="filter_row_from" kind="number"/>
		<property name="filter_row_to" kind="number"/>
		<property name="filter_col_from" kind="number"/>
		<property name="filter_col_to" kind="number"/>
</x-meta>
