<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
  <title>lens-viz-mapbox Demo</title>

  <script src="../webcomponentsjs/webcomponents.js"></script>
  <link rel="import" href="lens-viz-mapbox.html">
  <link rel="import" href="../th-theme/th-theme.html">
  
</head>

<style type="text/css">
   body { margin:0; padding:0; }
</style>
<body unresolved>

  <p>An `lens-viz-mapbox` looks like this:</p>
  <lens-viz-mapbox style="width: 500px; height: 500px;" animateOnInit="true" mapId="examples.map-i87786ca" layers="[{'layerId': 'examples.bike-lanes'},{'layerId': 'examples.bike-locations'}]" startingLat="38.8922" accessToken="pk.eyJ1IjoidGhlbG1hIiwiYSI6Ikd3RUlsTTQifQ.i6bojdSBKd6JHENLKsRjTA" startingLng="-77.0348"></lens-viz-mapbox>

</body>
</html>
