<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <title>lens-viz-g-bar-chart Demo</title>
    <script src="../webcomponentsjs/webcomponents.js"></script>
    <link rel="import" href="lens-viz-g-bar-chart.html">
  </head>
  <body unresolved>

    <p>An example of `lens-viz-g-bar-chart` looks like this:</p>
    <div style="width: 100%; height: 500px;">
      <lens-viz-g-bar-chart style="width: 100%; height: 100%;"></lens-viz-g-bar-chart>
    </div>
  </body>
</html>
