<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
  <title>lens-viz-g-line-chart Demo</title>

  <script src="../webcomponentsjs/webcomponents.js"></script>
  <link rel="import" href="lens-viz-g-line-chart.html">

</head>
  
  <style>
    body {
      font-family: arial;
      
    }
  </style>
<body unresolved>

  <p>An `lens-viz-g-line-chart` looks like this:</p>

  <lens-viz-g-line-chart></lens-viz-g-line-chart>
    
</body>
</html>
