<x-meta id="lens-viz-g-line-chart" label="Line chart by Google" group="Lenses chart">
			<template>			<lens-viz-g-line-chart animateOnInit="true"/></template>
			<template id="imports">			<link rel="import" href="lens-viz-g-line-chart.html"/></template>
			<property name="chartWidth" kind="number"/>
			<property name="chartHeight" kind="number"/>
			<property name="dataLabels" kind="string"/>
			<property name="dataLabelSize" kind="string"/>
			<property name="dataLabelColor" kind="string"/>
			<property name="chartData" kind="json"/>
			<property name="backgroundColor" kind="color"/>
			<property name="legend" kind="boolean"/>
</x-meta>
